/* Media Query de Range 0-500px */
@media only screen and (max-width: 768px) {
  /* Header */
  .header {
    width: 100%;
    height: 54px;
    padding: 32px 0;
    background: rgba(255, 253, 253, 0);
    z-index: 2;
  }

  .header h1 {
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 24px;
    margin-left: 4px;
  }
  .header h1:before {
    content: "";
    display: inline;
    border: 1px solid rgb(0, 0, 0);
    margin: auto 5px;
  }

  .header_menu {
    opacity: 0;
  }

  /* ===== */

  /* Banner */

  .banner_bg {
    width: 100%;
    height: 547px;
    background-color: #226ed8;
    position: absolute;
    top: 0;
    z-index: -2;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.123);
  }
  .banner {
    width: 100%;
    height: 554px;
    background: url(../img/banner.jpg) center no-repeat;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .frases_banner {
    padding-top: 175px;
  }
  .frases_banner h1 {
    font-size: 28px;
    line-height: 38px;
    padding-top: 5px;
  }
  .frases_banner h1 span {
    font-weight: bold;
  }

  .frases_banner h2 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    padding-top: 20px;
  }
  .frases_banner h2 span {
    color: #226ed8;
    font-weight: bold;
  }
  /* ===== */

  /* Botões do Banner */
  .botoes {
    margin-top: 300px;
  }

  .botão-inscrição {
    background: #226ed8;
    border: 3px solid #226ed8;
    border-radius: 25px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
  }

  .botão-inscrição:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.445);
  }

  .botão-edital {
    padding: 10px 12px;
    text-decoration: none;
    font-size: 18px;
    color: #226ed8;
  }
  .botão-edital img {
    padding-left: 8px;
  }

  .botão-edital:hover {
    font-weight: bold;
  }
  /* =============== */
  /* Sobre Nós */
  .sobre {
    width: 100%;
    padding: 60px 0px;
    margin-top: 100px;
  }

  .sobre h1 {
    font-size: 30px;
    font-weight: bold;
    padding: 0 0 40px 40px;
  }

  .sobre img {
    height: auto;
    width: 275px;
    display: block;
    margin: 0 auto;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
  }

  #prev,
  #next {
    font-family: ubuntu_mono;
    cursor: pointer;
    position: absolute;
    top: 30%;
    width: auto;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    font-size: 64px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  #prev {
    left: 12%;
  }
  #next {
    right: 12%;
    border-radius: 3px 0 0 3px;
  }
  .dot_container {
    text-align: center;
    margin: 0 auto;
  }
  #sobre_texto {
    transition: 0.6s;
    display: block;
    height: auto;
    max-width: 248px;
    border: 1px solid #f2f3f4;
    border-radius: 5px;
    background: #f2f3f4;
    margin: -20px auto 0 auto;
    padding: 30px 10px 20px 20px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.089);
  }

  .sobre p {
    opacity: 0.55;
    font-size: 16px;
    line-height: 22px;
  }
  /* ======== */

  /* Vagas */
  .vagas {
    padding: 30px 0;
  }

  .vagas h1 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 10px;
  }
  .vagas img {
    transform: scale(1);
  }

  .vagas li {
    transition: 0.2s;
    display: inline-block;
    padding-top: 50px;
    vertical-align: top;
    max-width: 100%;
    text-align: center;
  }

  .vagas li h2 {
    display: inline-block;
    font-size: 22px;
    color: #226ed8;
    padding-bottom: 20px;
    font-weight: bold;
    padding-left: 5px;
  }

  .vagas li h2 span {
    color: #3f3d5680;
    padding-left: 7px;
    font-weight: normal;
    letter-spacing: 0px;
  }

  .vagas p {
    padding: 0 5px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 22px;
  }
  /* ===== */

  /* Break - Alumni */
  .alumni {
    width: 100%;
    box-shadow: 0 -1px 1px rgba(128, 128, 128, 0.308);
    padding: 70px 0;
    z-index: 2;
  }

  .alumni h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    padding-bottom: 52px;
  }

  .alumni img {
    display: block;
    padding: 20px 0;
    margin: 0 auto;
    max-height: 50px;
    width: 50%;
  }

  .alumni img:hover {
    transition: transform 0.2s;
    transform: scale(1.2);
  }
  /* ============= */

  /* Footer */
  .footer {
    width: 100%;
    background: #171717;
    padding: 65px 0 130px 0;
  }

  .footer nav {
    position: relative;
    width: 118px;
    display: block;
    margin: 0 auto;
  }

  .footer ul li {
    display: inline-block;
    padding: 0 8px;
    transition: transform 0.2s;
  }

  .footer ul li:hover {
    transform: scale(1.2);
  }

  .link {
    padding-top: 10px;
    width: 100px;
    text-align: center;
    display: block;
    position: relative;
    text-decoration: none;
    color: #fdfdfd;
    opacity: 0.7;
    font-size: 15px;
    line-height: 26px;
    padding-left: 0;
    margin: 0 auto;
  }

  .icones {
    width: 100px;
    position: relative;
    display: block;
    padding-left: 0;
    left: 0;
    margin: 0 auto;
    text-align: center;
    padding-top: 20px;
  }
  .icones img {
    padding: 0 5px;
  }
  .contatos {
    position: relative;
    margin: 0 auto;
    display: block;
    padding-top: 20px;
  }
  .contatos p {
    color: #fdfdfd;
    opacity: 0.7;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
  }

  .contatos p img {
    padding-bottom: 3px;
    max-width: 15px;
  }
  /* ===== */
}
/* Fim do Media Querie */

/* ================== ==========*/
/* ================== ==========*/
/* ================== ==========*/
/* ================== ==========*/
/* ================== ==========*/
/* ================== ==========*/
/* ================== ==========*/
/* Media Query de Range 0-500px */
@media only screen and (min-width: 769px) and (max-width: 1363px) {
  /* Header */
  .header {
    width: 100%;
    height: 54px;
    padding: 32px 0;
    background: rgba(255, 253, 253, 0);
    z-index: 2;
  }

  .header h1 {
    display: inline-block;
    font-size: 16px;
    position: absolute;
    top: 24px;
    margin-left: 4px;
  }
  .header h1:before {
    content: "";
    display: inline;
    border: 1px solid rgb(0, 0, 0);
    margin: auto 5px;
  }

  .header_menu {
    width: 40px;
    height: 150px;
    display: inline-block;
    margin-left: 93.2%;
    position: absolute;
    top: 180px;
    transition: opacity 0.5s;
  }

  .header_menu ul li {
    padding: 6px 0;
  }

  /* ===== */

  /* Banner */

  .banner_bg {
    width: 100%;
    height: 547px;
    background-color: #226ed8;
    position: absolute;
    top: 0;
    z-index: -2;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.123);
  }
  .banner {
    width: 100%;
    height: 554px;
    background: url(../img/banner.jpg) center no-repeat;
    position: absolute;
    top: 0;
    z-index: -1;
  }

  .frases_banner {
    padding-top: 175px;
  }
  .frases_banner h1 {
    font-size: 28px;
    line-height: 38px;
    padding-top: 5px;
  }
  .frases_banner h1 span {
    font-weight: bold;
  }

  .frases_banner h2 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 18px;
    padding-top: 20px;
  }
  .frases_banner h2 span {
    color: #226ed8;
    font-weight: bold;
  }
  /* ===== */

  /* Botões do Banner */
  .botoes {
    margin-top: 300px;
  }

  .botão-inscrição {
    background: #226ed8;
    border: 3px solid #226ed8;
    border-radius: 25px;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 18px;
    color: white;
  }

  .botão-inscrição:hover {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.445);
  }

  .botão-edital {
    padding: 10px 12px;
    text-decoration: none;
    font-size: 18px;
    color: #226ed8;
  }
  .botão-edital img {
    padding-left: 8px;
  }

  .botão-edital:hover {
    font-weight: bold;
  }
  /* =============== */
  /* Sobre Nós */
  .sobre {
    width: 100%;
    padding: 60px 50px;
    margin-top: 100px;
  }

  .sobre h1 {
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 40px;
  }

  .sobre img {
    height: auto;
    width: 275px;
    display: inline-block;
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 10px;
  }

  #prev {
    left: 47px;
  }
  #next {
    left: 302px;
  }

  .dot_container {
    margin: 0 0 0 120px;
  }
  #sobre_texto {
    transition: 0.6s;
    display: block;
    height: auto;
    width: 400px;
    border: 1px solid #f2f3f4;
    border-radius: 5px;
    background: #f2f3f4;
    margin: -236px 0 0 260px;
    padding: 27px 10px 20px 30px;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.089);
  }

  .sobre p {
    opacity: 0.55;
    font-size: 16px;
    line-height: 24px;
  }
  /* ======== */

  /* Vagas */
  .vagas {
    padding: 30px 0;
  }

  .vagas h1 {
    font-size: 24px;
    font-weight: bold;
    padding-left: 0;
    padding-bottom: 10px;
  }
  .vagas img {
    transform: scale(0.8);
    display: inline-block;
  }

  .vagas li {
    transition: 0.2s;
    display: inline-block;
    padding-top: 50px;
    vertical-align: top;
    padding: 5% 2%;
    max-width: 45%;
    text-align: center;
  }

  .vagas li h2 {
    display: inline-block;
    font-size: 20px;
    color: #226ed8;
    padding-bottom: 10px;
    font-weight: bold;
    padding-left: 5px;
  }

  .vagas li h2 span {
    color: #3f3d5680;
    padding-left: 7px;
    font-weight: normal;
    letter-spacing: 0px;
  }

  .vagas p {
    padding: 0 5px;
    font-size: 14px;
    font-weight: lighter;
    line-height: 22px;
  }
  /* ===== */

  /* Break - Alumni */
  .alumni {
    width: 100%;
    box-shadow: 0 -1px 1px rgba(128, 128, 128, 0.308);
    padding: 70px 0;
    z-index: 2;
  }

  .alumni h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: bold;
    padding-bottom: 40px;
  }

  .alumni img {
    display: inline-block;
    padding: 0 2%;
    height: auto;
    width: 15%;
  }

  .alumni img:hover {
    transition: transform 0.2s;
    transform: scale(1.2);
  }
  /* ============= */

  /* Footer */
  .footer {
    width: 100%;
    background: #171717;
    padding: 65px 0 130px 0;
  }

  .footer nav {
    width: 98px;
    display: inline-block;
    margin: 0;
  }

  .footer ul li {
    display: inline-block;
    padding: 0 5px;
    transition: transform 0.2s;
  }

  .footer ul li:hover {
    transform: scale(1.2);
  }

  .link {
    display: inline-block;
    text-decoration: none;
    color: #fdfdfd;
    opacity: 0.7;
    font-size: 15px;
    line-height: 22px;
    margin: 0;
    padding-left: 8px;
  }

  .icones {
    width: 98px;
    display: block;
    text-align: center;
    margin: 0;
    left: 40%;
    top: 0px;
    position: absolute;
  }
  .icones img {
    padding: 0 5px;
  }
  .contatos {
    position: absolute;
    right: 0;
    top: 0px;
    margin: 0;
    display: block;
  }
  .contatos p {
    color: #fdfdfd;
    opacity: 0.7;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
  }

  .contatos p img {
    padding-bottom: 3px;
    max-width: 15px;
  }
  /* ===== */
}
/* Fim do Media Querie */
